@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto-LightItalic.ttf");
  font-weight: 300;
}

@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto-Italic.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto-MediumItalic.ttf");
  font-weight: 500;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Roboto";
  color: #675d5d;
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

html {
  scroll-behavior: smooth;
}

.header {
  background-color: #9e9e9e;
}

.main {
  background-color: #f9f8f6;
}

.footer {
  background-color: #9e9e9e;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 50%;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}

.section-title {
  text-transform: uppercase;
}

.section-content {
  padding: 10px 0;
}

.image-content {
  display: flex;
  justify-content: flex-start;
}

.section-image {
  width: 100%;
  max-width: 150px;
  height: 100%;
  max-height: 150px;
  border-radius: 10%;
  border: 1px solid #9e9e9e;
  margin-right: 8px;
}

.section-image:hover {
  border: 4px solid #9e9e9e;
}

.section-main {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-image: url("./assets/img/background.jpg");
  padding: 20px;
}

.section-main-title {
  text-transform: uppercase;
  font-size: 28px;
  padding-bottom: 20px;
}

.section-main-item {
  padding: 20px;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}

.nav-link {
  padding: 0 15px;
  line-height: 60px;
  color: #f5f5f5;
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
  transition: 0.3s;
}

.nav-link:hover {
  color: #56353f;
}

.line {
  margin: 20px 0;
  height: 4px;
  border: none;
  background: linear-gradient(45deg, #333, #ddd);
}

.pre {
  background-color: #ededed;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;
  overflow-y: hidden;
  font-size: 12px;
}

.code-example {
  max-width: 100%;
  padding: 10px;
}

.avatar {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.footer-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding-right: 40px;
  list-style: none;
}

.footer-item {
  line-height: 60px;
  text-decoration: none;
  color: #000;
}

.logo {
  width: 100%;
  max-width: 55px;
  height: auto;
}
